<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<body style="color: rgb(77, 225, 151);">
    <br><br><br><br>
    <div class="container" style="color: rgb(77, 225, 151);">
        
        <div class="row" style="color: rgb(77, 225, 151);">
            <div class="col-lg-12">
                
                <form action="/createurl" method="POST">
                    <a href="/" style="margin-left: 550px;color: black;">LOGOUT</a>
                    <h1><center>URL Shortener</center></h1>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Post ur long url" aria-label="Post ur long url" aria-describedby="button-addon2" name="longurl">
                        <div class="input-group-append">
                          <button class="btn btn-dark" type="submit" value="submit">Submit</button>
                        </div>
                      </div>
                </form>

            </div>
        </div>
        <div class="row">
            <br>
            <% for(var i=0;i< allurlsData.length;i++){ %>
            <div class="col-lg-3">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Total Clicks <%= allurlsData[i].clickcount %></div>
                    <div class="card-body text-dark">
                      <h5 class="card-title">
                        <a href="http://localhost:5000/<%= allurlsData[i].shorturl %>" target="_blank"  >http://localhost:5000/<%= allurlsData[i].shorturl %></a></h5>
                      <p class="card-text"><%= allurlsData[i].longurl %></p>
                      <a href="/delete/<%= allurlsData[i].id %>" class="btn btn-xs btn-danger">Delete</a>
                    </div>
            </div>
            </div>
            <% } %>


        </div>
    </div>
</body>
</html>